body {
  font-family: 'Cabin', sans-serif;
}


.custom-bg-green {
  background-color: #3b755f;
}
.custom-bg-blue {
  background-color: #2e3a8c;
}
.custom-bg-beige {
  background-color: #f2ebdb;
}
.custom-bg-white {
  background-color: #ffffff;
}
.custom-bg-black {
  background-color: #212121;
}
.custom-text-green {
  color: #3b755f;
}
.custom-text-blue {
  color: #2e3a8c;
}
.custom-text-beige {
  color: #f2ebdb;
}
.custom-text-white {
  color: #ffffff;
}
.custom-text-black {
  color: #212121;
}
