// variables.scss
@use 'vuetify/settings' with (
  $switch-thumb-transition:1s,
  $switch-control-input-transition:0.6s,
  $switch-inset-thumb-off-height:22px,
  $switch-inset-track-height:26px,
  $switch-inset-track-width:46px,
  $switch-thumb-elevation:10,
  $switch-thumb-width:22px,
  $switch-thumb-height:22px,
  $switch-thumb-offset:-3px,
  $switch-track-height:24px,
  $switch-track-width:48px,
  $switch-thumb-background:rgb(255, 253, 253),
  $switch-thumb-color:rgb(18, 73, 255),
  $switch-thumb-flat-background:rgb(255 18 18),
  $switch-track-opacity:1,
  $switch-thumb-flat-color:rgb(38, 255, 18),
  $switch-track-background:rgb(228, 228, 228),
  );